<h1>INDEX</h1>

<% @cocktails.each do |cocktail| %>
  <p><%= cocktail.id %>. <%= cocktail.name %> | <%= link_to "Show deails", cocktail_path(cocktail.id) %></p>
<% end %>

<%= link_to "Add a new cocktail", new_cocktail_path %>
<br>
<br>
