<h1>INDEX</h1>

<% @cocktails.each do |cocktail| %>
  <p><%= cocktail.name %> | <%= cocktail.id %> | <%= link_to "Show deails", cocktail_path(cocktail.id) %></p>
<% end %>

<%= link_to "Back", root_path %>
