<h1>Add a new dose</h1>

<%= render 'form' %>


<h2>Available Ingredients</h2>
<% @ingredients.each do |ingredient| %>
  <p><%= ingredient.id %> | <%= ingredient.name %></p>
<% end %>

<%= link_to "Back", cocktail_path(@cocktail.id) %>
